/* Universal  */

html {
    font-size: 1em;
}

body {
    background-color: black;
    color: white;
    height: 100%;
}

.container {
    height: 100%;
}

/* top navigation bar */
nav {
    height: 59px;
    border-bottom: 5px solid gold;
}

.brand-logo {
    font-family: "Lobster", cursive;
}


/* Hero content  */
.heroWrapper {
    height: 525px;
}

video {
    display: block;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.justifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#content {
    padding: 15px;
    z-index: 2;
    text-align: center;
    overflow: hidden;
}


.card-content {
    text-align: center;
}

#search-box {
    border: 2px solid gold;
    border-radius: 10px;
    height: 10%;
    opacity: 0.9;
}

#select-artist {
    font-family: "Lobster", cursive;
    height: 50px;
    width: 125px;
    background-color: #e53935;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

#select-artist:hover {
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
}

.container i {
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-down {
    width: 0; 
    height: 0; 
    margin: 10px 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

/* Steps to sing karaoke */

.stepContainer {
    padding: 64px 0;
}

#page-break {
    margin-top: 10px;
    font-family: "Lobster", cursive;
    background-color: #e53935;
    text-align: center;
    color: white;
    width: 100vh;
    height: 150px;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 30px solid black; 
}

#videoResultHeading {
    font-size-adjust: 1;     
    color: white;
}

#artist-div {
    margin-top: 10px;
    font-family: "Lobster", cursive;
    background-color: #e53935;
    border: 5px double gold;
    border-radius: 5px;
}

#tix {
   -moz-box-shadow:    inset 0 0 10px gold;
   -webkit-box-shadow: inset 0 0 10px gold;
   box-shadow:         inset 0 0 10px gold;
    padding: 10px;
    font-family: "Lobster", cursive;
    border-radius: 5px;
    background-color: #e53935;
}


#lyrics-box {
   border: 10px double #e53935;
   border-radius: 10px;
}

a {
    color: white;
}

#musixLyrics {
    padding: 10px
}

.youtube img {
    border: 10px double #e53935;
    border-radius: 10px;
    background-color: white;
}

#artist-div h1 {
    font-size-adjust: 1;
    text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px white;
    
}

#tix a {
    color: black;
    display: block;
    font-size: 2rem;
    padding: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px white;
    
}

#tix p{
    color: black;
    margin: 0;
    text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px white;
}

#artist-div img {
    border: 5px double gold;
    border-radius: 5px;
    margin-bottom: 30px;
}

#artist-div a {
    color: black;
}

#bandsintown {
    background: black;
    padding: 10px;
    -moz-box-shadow:    inset 0 0 10px gold;
   -webkit-box-shadow: inset 0 0 10px gold;
   box-shadow:         inset 0 0 10px gold;
    border-radius: 10px;
}

#trackingResults {
    text-align: center;
}

.container #musixLyrics {
    font-size: 1.5em;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.container .lyricsResult {
    position: relative;
    left: 40%;
    
}

#musixLyrics p {
    font-size-adjust: 0.6;
}

.lyrics a {
    font-family: "Lobster", cursive;
    color: #e53935;
    background-color: white;
    padding: 5px;
    border: 5px double #e53935;
    border-radius: 5px;
}

.step {
    word-wrap: break-word;
    padding-bottom: 15px;
    position: relative; 
    top: -15%;
}

/* footer */

#footer {
    margin-top: 100px;
    margin-bottom: 0;
}


/* media queries */


/* mini ----------- */
@media only screen and (min-width : 100px) {
    #page-break {
        height: 200px;
        font-size: 1rem;
    }
    
    nav {
        height: 128px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) {
    #page-break {
        height: 200px;
        font-size: 1rem;
    }

    nav {
        height: 128px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) {
    #page-break {
        height: 200px;
    }
    nav {
        height: 59px;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    #page-break {
        height: 150px;
    }

    nav {
        height: 59px;
    }
}
