/* Universal  */

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: black;
    color: white;
    height: 100%;
}

.container {
    height: 100%;
}

/* top navigation bar */
nav {
    
    border-bottom: 5px solid gold;
}

.brand-logo {
    font-family: "Lobster", cursive;
}


/* Hero content  */
.heroWrapper {
    height: 525px;
}

video {
    display: block;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.justifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;    
}

#content {
    padding: 15px;
    z-index: 2;
    text-align: center;
    overflow: hidden;
}


.card-content {
    text-align: center;
}

#search-box {
    border: 2px solid gold;
    border-radius: 10px;
    height: 10%;
    opacity: 0.9;
}

#select-artist {
    font-family: "Lobster", cursive;
    height: 50px;
    width: 125px;
    background-color: #e53935;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

#select-artist:hover {
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
}

.container i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* Steps to sing karaoke */

.stepContainer {
    padding: 64px 0;
}

.page-break {
    margin-top: 10px;
    font-family: "Lobster", cursive;
    background-color: #e53935;
    text-align: center;
    color: white;
    width: 100vh;
    height: 150px;
    min-width: 100%;
    margin: 0;
    padding: 0;
    
}


.bigAssButton {
    margin: 50px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 350px;
    font-size: 2em;
    border-radius: 5px;
    background-color: green;

}

/* footer */

#footer {
    margin-top: 100px;
    margin-bottom: 0;
}



